*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    width: 1000px;
    height: 900px;
    position: relative;
    overflow: hidden;
    margin: 0 auto ;
 
}

img{
    transition: 2s;
    position: absolute;
    width: 100%;
    /* margin: 0 auto; */
}
.nav{
    text-align: center;
}
button{
    margin: 10px;
    font-size: 20px;

}